:root {
  --blau1: #10a4e4; /* blaue Farbe */
  --blau2: #48cce1; /* grüne Farbe */
  --tertiary-color: #0000ff; /* blaue Farbe */
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}


label {
    display: block;
    margin-top: 0px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.fontwhite {
    color: white;
}

.loginbox {
    color: black;
    padding:-top 50%;
    background-color: whitesmoke;
    width: 500px; /* Breite des Container */
    height: 500px; /* Breite des Container */
    margin: 0 auto; /* Zentriert den Container horizontal */
    /* display: flex; /1* Verwendet Flexbox für vertikale Zentrierung *1/ */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    /*x offset, y offset, blur, color*/
    box-shadow: 6px 6px 20px black;
    padding-top: 30px;
}

.textfield {
    border: 2px solid var(--blau1);
    display: block;
    font-size: larger;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 90%;
}

.loginselectbox, option {
    border: 2px solid var(--blau1);
    display: block;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 90%;
}


.margintopbottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginbutton {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    border: 2px solid var(--blau1);
    background-color: var(--blau1);
    display: block;
    /* height: 40px; */
    margin: auto;
    padding: 10px;
    width: 90%;
}


h1.title {
    text-align: center;
}

.menuleiste {
    background-color: #15aaea;
    height: 50px;
    /*die drei nachfolgenden Zeilen sind zum Zentrieren der inneren Links*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuleiste a {
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.menuleiste a:hover {
    color: orange;
}


/* Animierter Hintergrund*/


.bluebackground {
    /* background: linear-gradient(to right, red, blue); */
    background: linear-gradient(to bottom, var(--blau1), var(--blau2));
    animation: gradient 5s ease-in-out infinite;
}

    @keyframes gradient {
      0% {
        /* background: linear-gradient(to bottom, var(--blau1), var(--blau2)); */
        background: var(--blau1);
      }
      50% {
        /* background: linear-gradient(to bottom, var(--blau1), var(--blau2)); */
        background: white;
      }
      100% {
        /* background: linear-gradient(to right, var(--blau2), var(--blau1)); */
        background: var(--blau1);
      }
    }



