:root {
  --blau1: #10a4e4; /* blaue Farbe */
  --blau2: #48cce1; /* grüne Farbe */
  --pixelsize: 64px; /* grüne Farbe */
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}

label {
    display: block;
    margin-top: 0px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.fontwhite {
    color: white;
}

.loginbox {
    color: black;
    padding-top: 50%;
    background-color: whitesmoke;
    width: 500px; /* Breite des Container */
    height: 400px; /* Breite des Container */
    margin: 0 auto; /* Zentriert den Container horizontal */
    /* display: flex; /1* Verwendet Flexbox für vertikale Zentrierung *1/ */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    /*x offset, y offset, blur, color*/
    box-shadow: 6px 6px 20px black;
    padding-top: 30px;
}

.textfield {
    border: 2px solid var(--blau1);
    display: block;
    font-size: larger;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 90%;
}

.loginselectbox, option {
    border: 2px solid var(--blau1);
    display: block;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 90%;
}


.margintopbottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginbutton {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    border: 2px solid var(--blau1);
    background-color: var(--blau1);
    display: block;
    margin: auto;
    padding: 10px;
    width: 90%;
    transition: 0.3s;
    cursor: pointer;
}

.loginbutton:hover {
    color: var(--blau1);
    background-color: white;
}


.wronglogin {
    background-color: #ff9393;
    box-shadow: 6px 6px 20px black;
    width: 50%;
    padding: 100px;
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.wronglogin a {
    /* color: var(--blau1); */
    color: blue;
    text-decoration: none;
}
.wronglogin a:hover {
    text-decoration: underline;
}

.pixelart {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.pixelsize {
    width: var(--pixelsize);
    height: var(--pixelsize);
    display: block;
    margin: auto;
    padding: 20px;
}


h1.title {
    text-align: center;
}

.menuleiste {
    background-color: #15aaea;
    height: 50px;
    /*die drei nachfolgenden Zeilen sind zum Zentrieren der inneren Links*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuleiste a {
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.menuleiste a:hover {
    color: orange;
}


/* Animierter Hintergrund*/

.bluebackground {
    /* background: linear-gradient(to right, red, blue); */
    background: linear-gradient(to bottom, var(--blau1), var(--blau2));
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background: var(--blau1);
    }
    50% {
        background: var(--blau2);
    }
    100% {
        background: var(--blau1);
    }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 600px) {

.loginbox {
    width: 100%; /* Breite des Container */
    height: auto; /* Breite des Container */
    padding-bottom: 20px;
}

}
