.table { border-collapse:collapse; padding:2px; margin: auto; display: block; overflow-x: auto; white-space: nowrap; }
.table thead th { border-bottom:1px solid var(--gray); padding:4px; text-align: left;  }
.table td {  border-bottom:1px solid var(--gray); padding:6px 26px 6px 4px; }

